<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

/*#colo {
	 width: 10px;
    height: 10px;
};

.navbar-brand {

    width: 500px;
    height: 100px;
}*/

/*#logo {
	 width: .5px;
    height: .5px;
}*/